body {
    background-color: #752AAF;
    background-image: url("bck3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav {
    background-color:#501a79;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    height: 36px;
    box-shadow: 8px 8px 10px rgb(40, 38, 44);
    
}
a {
    color: rgb(209, 166, 240);
    text-decoration: none;
    transition-duration: 1s;
}
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    scale: 80%;
    border-width: 24px;
    border-color: rgb(18, 27, 54);
    border-style: ridge;
    box-shadow: 8px 8px 10px rgb(40, 38, 44);
}
#game {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    width: 1200px;
    height: 560px;
    display: block;
    position: relative;
    

}
#flip {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 20%;
}